@use "./tableStyles.scss";
@use "./base.scss";
@use "./themes";

// put your custom CSS here!
* pre>code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

// Image zoom
img:not(.Logo):not([alt="untouchable"]) {
  cursor: zoom-in;
}

img:active:not(.Logo):not([alt="untouchable"]) {
  cursor: zoom-out;
  display: block;
  z-index: 100;
  position: fixed;
  max-height: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  width: 100% !important;
  object-fit: contain;
  margin: 0 auto !important;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000be;
}


.page-listing .tag-link {
  display: none;
}

iframe.pdf {
  width: 100%;
  height: 100%;
}